extends layout

block content
  h1= "My todos"
  input(
    type = "text"
    id = "input-name"
    placeholder = "Name"
  )
  br
  input(
    type = "text"
    id = "input-task"
    placeholder = "Task"
  )
  br
  button(
    id="submit-data"
  ) submit
  h6(id="output")
  br
  br
  input(
    type="text"
    id ="search-name"
    placeholder ="Get todos of:"
  )
  button(
    id="search"
  ) search
  div(id="returnField")